html {
  scroll-behavior: smooth;
}

/* Page d'accueil*/
.pagedaccueil {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url(../medias/pageaccueilfond.png);
  background-position: center;
  background-size: 100%;
  z-index: 3;
}
.joueur {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 39%;
}
.labelnom {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 60vh;
}
.inputnom {
  margin-top: 3vh;
  border-radius: 8px;
  height: 25px;
  border: 2px solid #014519;
  padding-left: 5px;
  font-size: 15px;
}
.btnStart {
  background-color: #014519;
  color: #d9d9d9;
}

.btnStart,
.btnrejouer {
  font-size: 25px;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 50px 46%;
  animation: changetaille 0.5s linear infinite alternate;
}
.btnStart:hover {
  cursor: pointer;
  background-color: #014519cc;
}

@keyframes changetaille {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

/*Game Over*/
.gameover {
  position: fixed;
  background-image: url(../medias/fond2.png);
  background-position: center;
  background-size: 100%;
  border-radius: 15px;
  width: 40%;
  margin: 35px 29% 0;
  z-index: 3;
  top: 0;
  padding: 10px 20px;
}
.titregameover {
  font-size: 40px;
  text-align: center;
  color: #177400;
  font-weight: 700;
  margin: 10px 0;
}
.scorefinal {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
.btnrejouer {
  margin: 0px 38% 10px;
  background-color: #177400;
  color: white;
}
.btnrejouer:hover {
  cursor: pointer;
  background-color: #014519cc;
}

.imggameover {
  width: 60%;
  margin: 10px 20%;
}

/*Page jeu*/

body {
  margin: 0;
  background-image: url(../medias/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.backgroundcolor {
  background-color: #72c65d;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 10%;
  object-fit: contain;
  margin: 10px 10% 0 5%;
}

.divpoints {
  display: flex;
  align-items: center;
  margin-right: 10%;
}
.pointsstyle {
  color: #177400;
  font-size: 40px;
  padding: 10px 20px;
  margin: 10px 0px 10px 50px;
  text-shadow: 1px 2px 20px #ffffff;
}
.pomme {
  width: 50px;
  object-fit: contain;
}
.divmeilleurScore {
  display: flex;
  align-items: center;
}
.trophee {
  width: 50px;
  object-fit: contain;
}

main {
  display: flex;
  padding: 10px 10px 10px 10px;
}

.sectiongauche {
  width: 25%;
}
.btnCommentJouer {
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 15px;
  width: 50%;
  margin: 70px 18% 0;
}
.btnCommentJouer:hover {
  cursor: pointer;
}

.plateau {
  background-color: #72c65dbf;
  width: 960px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(48, 20px);
  grid-template-rows: repeat(25, 20px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.commandesJeux {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30vh;
  left: 45%;
}
.commandesJeux img {
  width: 30%;
  opacity: 70%;
  margin-right: 40px;
}
.commandesJeux p {
  font-size: 20px;
  opacity: 70%;
}

.serpent {
  z-index: 1;
}
.serpentvert {
  background-color: #177400;
}
.serpentnoir {
  background-color: black;
}

.invisibility {
  visibility: hidden;
}

.fruit {
  background-image: url(../medias/pommerouge.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*Règle Pop Up*/
.reglePopUp {
  position: fixed;
  background-image: url(../medias/4.png);
  background-size: cover;
  background-position: center;

  border: 2px solid #177400;
  border-radius: 15px;
  width: 35%;
  margin: 100px 32.5% 0;
  z-index: 3;
  top: 0;
  padding: 10px 20px;
  color: white;
}
.croixfermee {
  width: 5%;
  margin: 0 0 0 95%;
}
.croixfermee:hover {
  cursor: pointer;
}
.reglePopUp h2 {
  text-align: center;
  font-size: 30px;
  margin: 5px 0 50px;
}
.divflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.pregle {
  font-size: 20px;
}

.imgregle {
  width: 80px;
  object-fit: contain;
}

.flou {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
}

/*Bonus*/
.malus {
  background-image: url(../medias/champi4.png);
  background-position: center;
  background-size: cover;
}
